{% extends 'base.html' %}

{% block title %}Cadastrar Subcategorias - Django Desk{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    	<li class="breadcrumb-item" aria-current="page">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="/campos">Campos</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="/campos/subcategorias">Subcategorias</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-sm-10 col-md-6 col-6">
    	<form method="POST">
    		{% csrf_token %}
    		{{ form|crispy }}
    		<input type="submit" value="Cadastrar" class="btn btn-primary" />
    	</form>
	</div>
</div>

{% endblock %}