{% extends 'base.html' %}

{% block title %}Lista de Unidades - Django Desk{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/campos">Campos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Estados</li>
    </ol>
</nav>
<div class="row">
	<div class="col-12">
		<form class="form-inline" id="search-form" method="GET">
			<label class="sr-only" for="search">Buscar</label>
			<div class="input-group mb-2 mr-sm-2">
				<input type="text" class="form-control" id="search" name="search" placeholder="Buscar">
				<div class="input-group-prepend">
					<div class="input-group-text" id="">
						<i class="fas fa-search" id="search-btn"></i>
					</div>
				</div>
			</div>
		</form>
		<table class="table table-responsive talbe-bordered" >
			{% if estados %}
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Sistema</th>
				<th scope="col">Ativo?</th>
				<th scope="col">Operações</th>
			</tr>
				{% for estado in estados %}
					<tr>
						<td>{{estado.nome}}</td>
						<td>
							{% for unidade in estado.unidade.all %}
								<li>{{unidade}}</li>
							{% endfor %}
						</td>
						<td>
							{% if not estado.ativo %}
							<span class="text-danger">
								<i class="fas fa-minus-circle"></i>
							</span>
							{% else %}
							<span class="text-success">
								<i class="fas fa-plus-circle"></i>
							</span>
							{% endif %}
						</td>
						<td class="operacoes">
							<a href="/campos/estados/atualizar/{{estado.id}}" class="text-success">
								<i class="far fa-edit"></i>
							</a> |
							<!--<a href="/campos/estado/deletar/{{estado.id}}" class="text-danger delete-btn" rel="{{estado.nome}}" data-toggle="tooltip" data-placement="top" title="Recurso ainda não disponível.">-->
							<a href="/campos/estados/deletar/{{estado.id}}" class="text-danger delete-btn" rel="{{estado.nome}}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
			<div class="pagination">
				<span class="step-links">
					{% if  estados.has_previous %}
					<span class="first-page">
						<a href="?page=1">Primeira</a>
					</span>

						<a href="?page={{estados.previous_page_number}}"><i class="fas fa-arrow-circle-left"></i></a>
					{% endif %}
					<span class="current">
						{{estados.number}} de {{estados.paginator.num_pages}}
					</span>
					{% if estados.has_next %}
						<a href="?page={{estados.next_page_number}}"><i class="fas fa-arrow-circle-right"></i></a>

					<span class="last-page">
						<a href="?page={{estados.paginator.num_pages}}">Última</a>
					</span>
					{% endif %}
				</span>
			</div>
	</div>
	<div class="col-12">
		<a href="/campos/estados/cadastrar" class="btn btn-sm btn-primary"><i class="fas fa-plus-circle"></i> Cadastrar</a>
	</div>
</div>

{% endblock %}