{% extends 'base.html' %}

{% block title %}Conhecimentos - Django Desk{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<style type="text/css">
    .django-ckeditor-widget{
        width: 100%;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    	<li class="breadcrumb-item" aria-current="page">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a href="/conhecimento">Conhecimento</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Novo</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12">
        <form method="POST">
            <div class="h4 text-center">Cadastro - DjangoDesk</div>
                {% csrf_token %}
                {{ form.text | safe }}
                {{ form.media }}
                <input type="hidden" name="next" value="{{next}}">
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                               {{ form.grupo|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                               {{ form.titulo|as_crispy_field}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                               {{ form.resumo|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        {{ form.conteudo|as_crispy_field}}
                    </div>
                </div>
            <input type="submit" value="Registrar" class="btn btn-primary">
        </form>
     </div>
</div>


{% endblock %}