{% extends 'base.html' %}

{% block title %}Lista de Unidades - Django Desk{% endblock %}

{% block content %}
<script type="text/javascript">
	function seleciona_filtro(param) {
		$("#field_search").attr("name", param)
		console.log("Olá mundo")
	}
</script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Conhecimentos</li>
    </ol>
</nav>

<div class="row">
	<div class="col-12">
		<form class="form-inline" id="search-form" method="GET">
			<label class="sr-only" for="filtro_search">Buscar</label>
			<div class="input-group mb-2 mr-sm-2">
				<input type="text" class="form-control" id="field_search" name="filtro_search" placeholder="Buscar">
				<div class="input-group-prepend">
					<div class="input-group-text" id="">
						<i class="fas fa-search" id="search-btn"></i>
					</div>
				</div>
			</div>
		</form>
		<div class="list-filter">
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="search" value="search" onchange="seleciona_filtro('filtro_search');" checked>
			  	<label class="form-check-label" for="search">
			    	Busca Livre
				</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="grupo" value="grupo" onchange="seleciona_filtro('filtro_grupo');">
			  	<label class="form-check-label" for="grupo">
			    	Grupo
				</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="categoria" value="categoria" onchange="seleciona_filtro('filtro_categoria');">
			  	<label class="form-check-label" for="categoria">
			    	Categoria
				</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="subcategoria" value="subcategoria" onchange="seleciona_filtro('filtro_subcategoria');">
			  	<label class="form-check-label" for="subcategoria">
			    	Subcategoria
				</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="classificacao" value="classificacao" onchange="seleciona_filtro('filtro_classificacao');">
			  	<label class="form-check-label" for="classificacao">
			    	Classificação
				</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="radio_filter" id="operacao" value="operacao" onchange="seleciona_filtro('filtro_operacao');">
			  	<label class="form-check-label" for="operacao">
			    	Operação
				</label>
			</div>
		</div>
		<table class="table table-responsive talbe-bordered w-100">
			{% if object_list %}
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Resumo</th>
				<th scope="col">Operações</th>
			</tr>
				{% for conhecimento in object_list %}
					<tr>
						<td width="200">{{conhecimento.titulo}}</td>
						<td width="400"><p>{{conhecimento.resumo}}</p></td>
						<td class="operacoes">
							<a href="/conhecimento/atualizar/{{conhecimento.id}}" class="text-success">
								<i class="far fa-edit"></i>
							</a> |
							<a href="/conhecimento/visualizar/{{conhecimento.id}}" class="text-info">
								<i class="fas fa-eye"></i>
							</a> |
							<a href="/conhecimento/deletar/{{conhecimento.id}}" class="text-danger delete-btn" rel="{{subcategoria.nome}}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
			<div class="pagination">
				<span class="step-links">
					{% if  page_obj.has_previous %}
					<span class="first-page">
						<a href="?page=1">Primeira</a>
					</span>

						<a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-arrow-circle-left"></i></a>
					{% endif %}
					<span class="current">
						{{page_obj.number}} de {{page_obj.paginator.num_pages}}
					</span>
					{% if page_obj.has_next %}
						<a href="?page={{page_obj.next_page_number}}"><i class="fas fa-arrow-circle-right"></i></a>

					<span class="last-page">
						<a href="?page={{page_obj.paginator.num_pages}}">Última</a>
					</span>
					{% endif %}
				</span>
			</div>
	</div>
	<div class="col-12">
		{% if user.is_authenticated %}
			{% if user.is_staff or user.is_admin %}
				<a href="/conhecimento/novo" class="btn btn-sm btn-primary"><i class="fas fa-plus-circle"></i> Cadastrar</a>
			{%endif%}
		{%endif%}
	</div>
</div>


{% endblock %}