{% extends 'base.html' %}

{% block title %}Lista de Usuários - Django Desk{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/usuarios">Usuarios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Visualizar Usuário</li>
    </ol>
</nav>
<div class="row">
	<table class="table table-responsive talbe-bordered">
		{% if usuario %}
		<tr>
			<td>Nome completo:</td>
			<td>{{usuario.get_full_name}}</td>
			<td>Ativo:</td>
			<td>
				{% if usuario.is_active %}
					<span class="text-success ml-3"><i class="fas fa-check-circle"></i></span>
				{% else %}
					<span class="text-danger ml-3"><i class="fas fa-times-circle"></i></span>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>E-mail:</td>
			<td>{{usuario.email}}</td>
			<td>Gestor:</td>
			<td>
				{% if usuario.is_staff %}
					<span class="text-success ml-3"><i class="fas fa-check-circle"></i></span>
				{% else %}
					<span class="text-danger ml-3"><i class="fas fa-times-circle"></i></span>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Data de Nascimento:</td>
			<td>{{usuario.nascimento}}</td>
			<td>Administrador:</td>
			<td>
				{% if usuario.is_admin %}
					<span class="text-success ml-3"><i class="fas fa-check-circle"></i></span>
				{% else %}
					<span class="text-danger ml-3"><i class="fas fa-times-circle"></i></span>
				{% endif %}
			</td>
		</tr>
		<tr class="tr-border">
			<td>Unidades:</td>
			<td>
				{% if usuario.unidade.all %}
					<ul>
						{% for unidade in usuario.unidade.all %}
							<li>{{unidade}}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</td>
		</tr>
		{% endif %}
	</table>
</div>

{% endblock %}